<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="FeatureToggles" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  
  <FeatureToggles>
    <add key="EnabledFeature" value="On" />
    <add key="DisabledFeature" value="Off" />
  </FeatureToggles>
  
</configuration>
